In [4]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)
thislist.insert(1,"orange")
print(thislist)
thislist.remove("banana")
print(thislist)
for x in thislist:
  print(x)
  for i in range(len(thislist)):
    print(thislist[i])

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'cherry', 'orange']
apple
apple
orange
cherry
orange
orange
apple
orange
cherry
orange
cherry
apple
orange
cherry
orange
orange
apple
orange
cherry
orange

In [5]:
mytuple=("apple","banana","cherry")
thistuple=("apple","banana","cherry")
print(thistuple)
print(thistuple[-1])
print(thistuple[1])

('apple', 'banana', 'cherry')
cherry
banana

In [6]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [7]:
myset={"apple","banana","cherry"}
thisset={"apple","banana","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [8]:
thisset={"apple","banana","cherry"}
print(thisset)
thisset=("apple","banan","cherry")
print(thisset)

{'banana', 'apple', 'cherry'}
('apple', 'banan', 'cherry')

In [11]:
set1={"apple","banana","cherry"}
set2={1,5,7,9,3}
set3={True,False,False}
print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [12]:
set1={"abc,34,True,40,male"}
print(set1)

{'abc,34,True,40,male'}

In [13]:
thisset={"apple","banan","cherry"}
for x in thisset:
  print(x)

cherry
apple
banan

In [14]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 'b', 'c', 'a', 3}

In [15]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1|set2
print(set3)

{1, 2, 'b', 'c', 'a', 3}

In [16]:
set1={"a","b","c"}
set2={1,2,3}
set3={"john","elena"}
set4={"apple","banana","cherry"}
myset=set1.union(set2,set3,set4)
print(myset)

{1, 2, 3, 'john', 'a', 'elena', 'cherry', 'apple', 'b', 'c', 'banana'}

In [18]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'ford', 'model': 'mustang', 'year': 1964}
ford

In [19]:
thisdict={
    "brand":"ford",
    "model":"mustang",
    "year":1964,
    "year":2020
}
print(thisdict)
print(len(thisdict))

{'brand': 'ford', 'model': 'mustang', 'year': 2020}
3

In [20]:
thisdict={
    "brand":"ford",
    "electric":"False",
    "year":1964,
    "color":["red","white","blue"]
}
print(thisdict)

{'brand': 'ford', 'electric': 'False', 'year': 1964, 'color': ['red', 'white', 'blue']}

In [21]:
thisdict=dict(name="john",age=36,country="norway")
print(thisdict)

{'name': 'john', 'age': 36, 'country': 'norway'}

In [22]:
a=33
b=200
if b>a:
  print("b is grater than a")

b is grater than a

In [23]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

In [24]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [25]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [26]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [27]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [28]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [29]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [30]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple
banana

In [31]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [32]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [33]:
for x in range(2,6):
  print(x)

2
3
4
5

In [35]:
def my_function(fname):
  print(fname)
my_function("hello from a function")

hello from a function

In [36]:
def my_function(fname):
  print(fname+"refsnes")
my_function("email")
my_function("tobias")
my_function("linus")

emailrefsnes
tobiasrefsnes
linusrefsnes

In [37]:
def my_function(fname,lname):
  print(fname+" "+lname)
my_function("emil","refsens")

emil refsens

In [42]:
class MyClass:
  x=5
p1=MyClass()
print(p1.x)

5

In [ ]:
from collections.abc import AsyncGenerator
from os import name
class person:
  def_init_(self,name,age):
    self.name=name
    self.age=AsyncGenerator

In [49]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
p1=Person("john",36)
print(p1.name)
print(p1.age)

john
36